*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none !important;
}

::-moz-selection {
    background: #007bff;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #007bff;
    color: #fff;
    text-shadow: none;
}

body {
    font-size: 17px;
    line-height: 1.41;
    color: #44545F;
    font-family: "Source Sans 3", sans-serif;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p:last-child {
margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #2B353B;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.0625rem;
}

h4 {
    color: #2B353B;
    font-size: 0.9375rem;
    letter-spacing: 0.2px;
    margin-bottom: 0.5rem;
}


a {
    color: #0086B2;
    text-decoration: none;
}


a:focus,
a:hover {
    text-decoration: underline;
}

ul,
ol {
    padding-left: 1.875rem;
}

li {
    margin-bottom: 0.4rem;
}

li:last-child {
    margin-bottom: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}



/* ==========================================================================
	Header
========================================================================== */

.site-header {
    background-color: #fff;
    padding: 1.5rem 0;
    border-bottom: 1px solid #DEE6EB;
}

.site-header .container {
    max-width: 85rem;
}

.site-header h1 {
    margin-top: 1rem;
}

/* ==========================================================================
	Body Content
========================================================================== */

.body-content {
    padding: 2rem 0;
}


/* ==========================================================================
	Box
========================================================================== */

.box {
    border: 1px solid #C3D1DA;
    padding: 1rem;
    min-width: 8.85rem;
    border-radius: 0.5rem;
}


/* ==========================================================================
	Sidebar
========================================================================== */

.sidebar, .fs-overlay {
    position: fixed;
    right: -150%;
    top: 0;
    height: 100vh;
    width: 100vw;
    transition: 350ms ease-in-out;
}

.sidebar-active .sidebar, .sidebar-active .fs-overlay {
    right: 0;
    display: block;
}

.sidebar {
    background-color: #fff;
    max-width: 40rem;
    box-shadow: 0 2px 10px rgba(135, 156, 171,0.5);
    z-index: 100;
}

.sidebar-toggle__content {
    display: none;
}

.fs-overlay {
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
    cursor: pointer;
}

.sidebar__header, .sidebar__footer {
    min-height: 4rem;
    padding: 1rem 2rem;
}

.sidebar__title {
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar__close {
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
}

.sidebar__content {
    overflow-y: auto;
    min-height: calc(100vh - 8rem);
    padding: 2rem 3rem;
    border-top: 1px solid #DEE6EB;
    border-bottom: 1px solid #DEE6EB;
}


/* ==========================================================================
	Reusable Generic Classes
========================================================================== */

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 75rem;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.d-inline-block {
    display: inline-block;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-40 {
    margin-bottom: 2.5rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-30 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.mr-10 {
    margin-right: 0.625rem;
}

.ml-10 {
    margin-left: 0.625rem;
}



/* ==========================================================================
	Media Queries
========================================================================== */

@media (min-width: 768px) {
    .body-content {
        display: flex;
    }
    .main {
        flex: 1;
        padding-right: 4rem;
    }
    .aside {
        flex: 0.28;
    }
}


@media (max-width: 1199px) {
 
}


@media (max-width: 991px) {
   
}


@media (max-width: 767px) {

    html {
        font-size: 14px;
    }

.site-header {
    padding: 1rem 0;
}

}
